body {
    margin: 0;
    padding: 0;

    height: 100%;
}

#google_translate_element {
    display: none;
}

/* Clearing for floats */
.clr {
    clear: both;
}

main {
    background-image: url('../img/bg/bg_04.jpg');
    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    color: rgb(255, 255, 255);
}

#contact-banner {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5vw;
    font-size: 0.9em;
    font-weight: lighter;
}

#contact-banner i {
    margin-right: 0.6em;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.09);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5vw;

    align-items: center;
}

ul {
    margin: 0;
    list-style: none;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    display: flex;
    align-items: center;
}

ul li {
    display: inline-block;
    margin-left: 2em;
}

ul li:first-of-type {
    margin: 0;
}

ul li button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

ul li a, ul li button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    position: relative;
    display: inline-block;
}

nav ul li a:after {
    content: "";
    background: rgba(228, 228, 228, 0.6);
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

ul li a#home {
    font-size: 2em;
    margin-right: 0.25em;
}

ul li a#home:hover:after {
    width: 0;
    left: 0;
}

ul li a#register {
    border: 1px solid #FFF;
    border-radius: 1em;
    padding: 0.2em 1em;
    transition: 0.2s;
    color: rgb(255, 255, 255);
}

ul li a#register:hover:after {
    width: 0;
    left: 0;
}

ul li a#register:hover {
    background-color: #FFF;
    color: #5c8cb4;
    transition: 0.2s;
}

#page-heading {
    margin: 1.5rem auto 3.5rem;
    text-align: center;
}

#page-heading i {
    font-size: 5em;
    font-weight: lighter;
}

#page-heading h1 {
    font-weight: normal;
    font-size: 3.2em;
    margin: 0;
}

#page-heading h2 {
    font-weight: normal;
    font-size: 2.2em;
    margin-block-start: 0;
    margin-block-end: 0.4em;
}

#page-heading hr {
    width: 10em;
    border: 1px solid rgba(228, 228, 228, 0.6);
}

#page-container {
    width: 100%;
    padding: 1.5rem 10%;
    box-sizing: border-box;
    color: rgb(155, 155, 155);
}

#bikes {
    /* background-color: rgba(255, 255, 255, 0.9); */
    width: 100%;
    height: 100%;
    /* padding: 2em; */
    box-sizing: border-box;
    /* box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2); */
    border-radius: 1em;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

#bikes > .bike-container {
    width: 33.3%;
    box-sizing: border-box;
    padding: 1em;
}

#bikes > .bike-container > .bike {
    display: block;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}

.bike > .img-container {
    width: 45%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 1.6em 0.2em;
}

.bike > .img-container > img {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.bike > .info-container {
    float: right;
    max-width: 55%;
    width: auto;
    height: 100%;
    padding-left: 1rem;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    color: rgb(110, 110, 110);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-info > .tags-container {
    display: flex;
    flex-wrap: wrap;
}

.tags-container > .distance, .tags-container > .price {
    display: inline-block;
    background-color: rgb(105, 184, 109);
    color: #FFF;
    padding: 0.2em 0.4em;
    border-radius: 0.25em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.tags-container > .distance {
    background-color: rgb(109, 154, 206);;
    margin-right: 0.5em;
}

.top-info > h2 {
    font-size: 1.2em;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
    color: rgb(90, 90, 90);
}

.info-container > .reviews {
    margin-block-start: 1em;
    margin-block-end: 1.2em;
}

.info-container > .view-bike {
    text-decoration: none;
    color: #FFF;
    background-color: rgb(109, 149, 196);
    border-radius: 0.25em;
    width: 100%;
    padding: 0.2em 0.5em;
    box-sizing: border-box;
    text-align: center;
}

.top-info > .rating-text {
    font-size: 0.9em;
}

.checked {
    color: rgb(238, 188, 26);
}

/* Login/register pages */
#login-register-container {
    width: 100%;
    height: 20em;
    padding: 1.5em 30%;
    box-sizing: border-box;
}

#login-register-container > form {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
}

.input-label-container > label {
    display: block;
    color:black;
}

.input-label-container > input {
    display: block;
}

/* Bike page */
#bike-page-container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 300px;
    border-radius: 1em;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 1500px) {
    #bikes > .bike-container {
        width: 50%;
    }
}

@media only screen and (max-width: 950px) {
    #bikes > .bike-container {
        width: 100%;
    }
}

/* 
@media only screen and (max-width: 1200px) {
    #bikes > .bike-container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #page-container {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 510px) {
    .bike > .info-container {
        width: 40%;
    }

    .bike img {
        width: 60%;
    }
}

@media only screen and (max-width: 410px) {
    .bike > .info-container {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 380px) {
    #bikes > .bike-container > .bike {
        padding: 0.5em;
    }

    .bike > .info-container {
        font-size: 0.8em;
    }
} */