body {
    margin: 0;
    padding: 0;

    height: 100%;
}

#google_translate_element {
    display: none;
}

/* Clearing for floats */
.clr {
    clear: both;
}

main {
    background-image: url('../img/bg/bg_04.jpg');
    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    color: rgb(255, 255, 255);
}

#contact-banner {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5vw;
    font-size: 0.9em;
    font-weight: lighter;
}

#contact-banner i {
    margin-right: 0.6em;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.09);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5vw;

    align-items: center;
}

ul {
    margin: 0;
    list-style: none;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    display: flex;
    align-items: center;
}

ul li {
    display: inline-block;
    margin-left: 2em;
}

ul li:first-of-type {
    margin: 0;
}

ul li button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

ul li a, ul li button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    position: relative;
    display: inline-block;
}

nav ul li a:after {
    content: "";
    background: rgba(228, 228, 228, 0.6);
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

ul li a#home {
    font-size: 2em;
    margin-right: 0.25em;
}

ul li a#home:hover:after {
    width: 0;
    left: 0;
}

ul li a#register {
    border: 1px solid #FFF;
    border-radius: 1em;
    padding: 0.2em 1em;
    transition: 0.2s;
    color: rgb(255, 255, 255);
}

ul li a#register:hover:after {
    width: 0;
    left: 0;
}

ul li a#register:hover {
    background-color: #FFF;
    color: #5c8cb4;
    transition: 0.2s;
}

#page-heading {
    margin: 1.5rem auto 3.5rem;
    text-align: center;
}

#page-heading i {
    font-size: 5em;
    font-weight: lighter;
}

#page-heading h1 {
    font-weight: normal;
    font-size: 3.2em;
    margin: 0;
}

#page-heading h2 {
    font-weight: normal;
    font-size: 2.2em;
    margin-block-start: 0;
    margin-block-end: 0.4em;
}

#page-heading hr {
    width: 10em;
    border: 1px solid rgba(228, 228, 228, 0.6);
}

#page-container {
    width: 100%;
    padding: 1.5rem 10%;
    box-sizing: border-box;
    color: rgb(155, 155, 155);
}

#bikes {
    /* background-color: rgba(255, 255, 255, 0.9); */
    width: 100%;
    height: 100%;
    /* padding: 2em; */
    box-sizing: border-box;
    /* box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2); */
    border-radius: 1em;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

#bikes > .bike-container {
    width: 33.3%;
    box-sizing: border-box;
    padding: 1em;
}

#bikes > .bike-container > .bike {
    display: block;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}

.bike > .img-container {
    width: 45%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 1.6em 0.2em;
}

.bike > .img-container > img {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.bike > .info-container {
    float: right;
    max-width: 55%;
    width: auto;
    height: 100%;
    padding-left: 1rem;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    color: rgb(110, 110, 110);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-info > .tags-container {
    display: flex;
    flex-wrap: wrap;
}

.distance, .price {
    display: inline-block;
    background-color: rgb(105, 184, 109);
    color: #FFF;
    padding: 0.2em 0.4em;
    border-radius: 0.25em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.distance {
    background-color: rgb(109, 154, 206);
    margin-right: 0.5em;
}

.top-info > h2 {
    font-size: 1.2em;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
    color: rgb(90, 90, 90);
}

.info-container > .reviews {
    margin-block-start: 1em;
    margin-block-end: 1.2em;
}

.info-container > .view-bike {
    text-decoration: none;
    border-radius: 0.25em;
    width: 100%;
    padding: 0.2em 0.5em;
    box-sizing: border-box;
    text-align: center;

    color: rgb(77, 127, 185);
    border: 1px solid rgb(77, 127, 185);
    transition: 0.2s;
}

.info-container > .view-bike:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: rgb(77, 127, 185);
}

.rating-text {
    font-size: 0.89em;
}

.rating-count-text {
    font-size: 0.85em;
}

.rating-count-text > a {
    color: inherit;
}

.checked {
    color: rgb(238, 188, 26);
}

/* Login/register pages */
#login-register-container {
    max-width: 24em;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em 2em;
}

#login-register-container > form {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 1em;
    padding: 1.2em 1.2em;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.input-label-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6em;
}

.input-label-container > label {
    display: block;
    color: rgb(61, 61, 61);
}

.input-label-container > input, .input-label-container > select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.4em 0.4em;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);

    border-radius: 0.25em;
}

form > button[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 1em;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    box-sizing: border-box;
    text-align: center;

    outline: none;
    border: none;

    cursor: pointer;

    color: rgb(77, 127, 185);
    border: 1px solid rgb(77, 127, 185);
    transition: 0.2s;
}

form > button[type="submit"]:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: rgb(77, 127, 185);
}

#error {
    color: rgb(233, 57, 57);
    text-align: center;
}

#error h2 {
    font-size: 1em;
    font-weight: normal;
    margin-block-end: 0;
}

.recaptcha-container {
    text-align: center;
    margin: 1.5em 0 1em;
}

.g-recaptcha {
    display: inline-block;
}

#logout-text {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1em;
    box-sizing: border-box;
    padding: 2em;
}

#logout-text h1 {
    color: rgb(90, 90, 90);
    margin-block-start: 0;
    font-weight: normal;
    font-size: 1.4em;
}

#logout-text h2 {
    color: rgb(109, 109, 109);
    font-weight: normal;
    margin-block-end: 0;
    font-size: 1em;
}

/* Bike page */
#bike-page-container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    border-radius: 1em;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

#bike-page-container form > h2, #bike-page-container > #right h2 {
    font-weight: normal;
    font-size: 1.3em;
    margin-block-start: 0;
    margin-block-end: 0.1em;
}

#bike-page-container #price {
    font-size: 1.5em;
    margin-bottom: 0.4rem;
}

#bike-page-container #distance {
    color: rgb(121, 121, 121);
    font-size: 1em;
}

#bike-page-container #rating {
    margin-top: 1em;
    margin-bottom: 1.2em;
}

#bike-page-container #lender hr {
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: none;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

#lender-details img {
    height: 4rem;
    border-radius: 2rem;
    display: inline-block;
}

#lender-details #name {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    font-size: 1em;
    padding: 0.25em 0.5em;
    color: rgb(119, 119, 119);
}

#contact-number {
    display: block;
    width: 100%;
    background-color: rgb(111, 190, 95);
    color: #FFF;
    padding: 0.2em;
    text-align: center;
    border-radius: 1em;
    text-decoration: none;
}

#bike-page-container {
    display: flex;
    justify-content: space-between;
}

#bike-page-container > #left {
    padding: 1em;
    width: 50%;
    box-sizing: border-box;
}

#bike-page-container > #right {
    padding: 1em;
    width: 50%;
    box-sizing: border-box;
}

#bike-page-container > #left > img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.2em;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

#bike-page-container #top {
    color: rgb(105, 105, 105);
}

#reviews > form {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;
    color: rgb(105, 105, 105);
}

#reviews > form > h2 {
    margin-block-start: 0.5em;
    font-weight: normal;
    font-size: 1.1em;
}

#reviews > form .rating-radio-container {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 0.5em;
}

#reviews > form input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

#reviews > form .rating-star {
    width: 1rem;
    height: 1rem;
}

.rating-radio-container:hover input[type="radio"] ~ .rating-star {
    color: rgb(150, 135, 88);
}

#reviews > form input[type="radio"]:checked ~ .rating-star {
    color: rgb(240, 187, 14);
}

#reviews > form > textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;

    resize: vertical;
}

#reviews > form button[type="submit"] {
    width: 100%;
    background-color: rgb(109, 154, 206);
    border: none;
    color: #FFF;
}

#reviews > form button[type="submit"]:hover {
    background-color: rgb(92, 133, 179);
}

#reviews > .full-review {
    background-color: #FFF;
    box-sizing: border-box;
    padding: 1rem;
}

#reviews > .full-review:last-child {
    border-bottom-left-radius: 1rem;
}

#reviews > .full-review > .rating {
    color:rgb(105, 105, 105);
}

#reviews > .full-review > .comment {
    color:rgb(90, 90, 90);
}

#reviews > .full-review > .comment > .author {
    color:rgb(114, 114, 114);
}

@media only screen and (max-width: 1500px) {
    #bikes > .bike-container {
        width: 50%;
    }
}

@media only screen and (max-width: 950px) {
    #bikes > .bike-container {
        width: 100%;
    }
}

/* 
@media only screen and (max-width: 1200px) {
    #bikes > .bike-container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #page-container {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 510px) {
    .bike > .info-container {
        width: 40%;
    }

    .bike img {
        width: 60%;
    }
}

@media only screen and (max-width: 410px) {
    .bike > .info-container {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 380px) {
    #bikes > .bike-container > .bike {
        padding: 0.5em;
    }

    .bike > .info-container {
        font-size: 0.8em;
    }
} */