doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bike Rental

        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")

        script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
        script(src="js/translate.js") 
    body
        #google_translate_element

        main
            #contact-banner
                ul
                    li
                        button#translate-button(type="button" onclick="translatePage();" class="notranslate")
                            i(class="fas fa-exchange-alt")
                            | Español / English
                
                ul
                    li
                        a.notranslate(href="mailto:" + contact_details.email)
                            i(class="far fa-envelope")
                            =contact_details.email

                    li
                        a.notranslate(href="tel:" + contact_details.phone)
                            i(class="fas fa-mobile-alt")
                            =contact_details.phone

            .dark-overlay
                nav
                    ul
                        li
                            a(href="/")#home
                                i(class="fad fa-biking")
                        li
                            a(href="/") See Bikes
                        li
                            a(href="/") Meet the Lenders
                    
                    ul
                        li
                            a(href="/login") Login
                        li
                            a#register(href="/register") Register
                
                #page-heading
                    h2= page_title
                    hr

                #page-container
                    #bikes
                        each bike in bikes
                            .bike-container
                                .bike
                                    .img-container
                                        img(src=bike.bike_image, alt="")

                                    .info-container
                                        .top-info
                                            .tags-container
                                                .distance
                                                    i.distance-icon(class="fas fa-map-marker-alt")
                                                    | &nbsp;5 miles
                                                    
                                                .price
                                                    i.price-icon(class="fas fa-coins")
                                                    | &nbsp;
                                                    =bike.price
                                                    | &nbsp;S/hour

                                            h2= bike.brand

                                        .reviews
                                            - for (var i = 1; i <= 5; ++i) {
                                                if bike.rating >= i
                                                    i(class="fa fa-star checked")
                                                else
                                                    i(class="fa fa-star")
                                            - }

                                            span.rating-text
                                                | &nbsp;
                                                =bike.rating
                                                | /5
                                        
                                        a.view-bike(href="/bikes?id=" + bike.bike_id) View bike
                                    
                                    .clr
