doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login

        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
        script(src="https://www.google.com/recaptcha/api.js" async defer)
        script(src="js/translate.js" defer)
        script(src="js/form-submission.js")

        script.
            //- Set up my override to use AJAX instead on the register form
            window.addEventListener('DOMContentLoaded', function() {
                initialiseFormOverride('/login');
            });
        
    body
        #google_translate_element

        main
            #contact-banner
                ul
                    li
                        button#translate-button(type="button" onclick="translatePage();" class="notranslate")
                            i(class="fas fa-exchange-alt")
                            | Español / English
                
                ul
                    li
                        a.notranslate(href="mailto:" + contact_details.email)
                            i(class="far fa-envelope")
                            =contact_details.email

                    li
                        a.notranslate(href="tel:" + contact_details.phone)
                            i(class="fas fa-mobile-alt")
                            =contact_details.phone

            .dark-overlay
                nav
                    ul
                        li
                            a(href="/")#home
                                i(class="fad fa-biking")
                        li
                            a(href="/") See Bikes
                    
                    ul
                        if (user_details.logged_in)
                            li
                                a(href="/")= user_details.first_name
                            li
                                a(href="/logout") Logout
                        else
                            li
                                a(href="/login") Login
                            li
                                a#register(href="/register") Register
                
                #page-heading
                    h2= page_title
                    hr

                #login-register-container
                    form(action="/submit-login", method="post")
                        .input-label-container
                            label(for="username") Username
                            input(type="text" name="username" id="username")
                        
                        .input-label-container
                            label(for="password") Password
                            input(type="password" name="password" id="password")
                        
                        .recaptcha-container
                            .g-recaptcha(data-sitekey="6LfYVS4bAAAAAN1VaKv9W9gmOPbxwrY68zn7qjDQ")

                        button(type="submit") Login

                        #error
                            h2= error
                        
                        